.header{
    display: flex;
}

.body{
    background-color: black;
    border: solid 5px #faf3f6;
}

.org{
    display: inline-block;
}

.img{
    margin-left: 60%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-image: round;
    border-radius: 15%;
}

.tit{
    background-image: linear-gradient(to right, #faf3f6, #7c7a7b);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 38px;
    font-family: 'Press Start 2P', cursive;
    margin-left: 420px;
    margin-top: 75px;
}